body
{
    color: white;
    background-image: url("https://img.freepik.com/free-vector/bring-night-space-wallpaper-with-glowing-starfield_1017-53512.jpg?semt=ais_hybrid&w=740");
}

h1
{
    text-align: center;
    font: italic 3rem "Fira Sans", serif;
    margin-top: 25px;
}

h2
{
    font: bold 2rem;
    margin-left: 50px;
}

h3
{
    text-align: center;
}

.box
{
    color: white;
    margin: 4%
}

.centered
{
    text-align: center;
    color: white;
    margin: 100px;
}

.card
{
    margin-top: 20px;
    background-color: slategrey;
    color: #e2e6e9;
}

.card-left
{
    margin-left: 50px;
    margin-right: auto;
}

.card-right
{
    margin-left: auto;
    margin-right: 50px;
}

.project-card {
    margin-left: 15%; 
    width: 70%;
}

.project-image {
    background-color: #8996A4;
}